/* feedback.css */



#AnchorPane {
    -fx-background-color: graytext;
}

Label {
    -fx-text-fill: white;
    -fx-background-color: #3498db;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-pref-width: 85;
}

TextField {
    -fx-pref-width: 200;
    -fx-pref-height: 30;
    -fx-font-size: 14px;
    -fx-background-color: #ecf0f1;
}

Button {
    -fx-pref-width: 100;
    -fx-pref-height: 40;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-color: #ecf0f1;
    -fx-alignment: center;
}

Button#submitButton {
    -fx-background-color: #3498db;
    -fx-text-fill: black;
}

Button:hover {
    -fx-background-color: #2980b9;
}



